{% extends "knowledge_bank/base.html" %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_created|date:"F d, Y" }}</small>
      </div>
        {% if object.author == user %}
		<a href="{% url 'article-update' object.id %}" class="btn btn-primary border border-white ml-3"> Update Article </a>
        {% endif %}
      <h2 class="article-title">{{ object.title }}</h2>
      <p class="article-content">{{ object.content }}</p>
    </div>
  </article>
{% endblock content %}
