{% extends "knowledge_bank/base.html" %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
		  <a class="mr-2" href="{% url 'profile-detail' object.author.id%}">{{ object.author }}</a>
      </div>
		{% if user.is_staff %}
		<a href="{% url 'article-delete' article.id %}" class="btn btn-danger border border-white ml-3"> Delete Article </a>
		{% endif %}
        {% if object.author == user %}
		<a href="{% url 'article-update' object.id %}" class="btn btn-primary border border-white ml-3"> Update Article </a>
        {% endif %}
	  	<div class="column">
			<div><small class="text-muted">Date Posted: {{ object.date_posted | date:"F d, Y H:i:s" }}</small></div>
			<div><small class="text-muted">Last Modified: {{ object.last_modified | date:"F d, Y H:i:s" }}</small></div>
		</div>
      <h2 class="article-title">{{ object.title }}</h2>
      <small class="text-muted">Category: {{ object.category}}</small>
	  <div class="media content-section">
      <p class="article-content border-secondary">{{ object.content }}</p>
    </div>
  </article>
{% endblock content %}
